# Загрузим библиотеки для анализа

In [5]:
import numpy as np
import pandas as pd

In [9]:
usa = pd.read_csv('../Home work/acs2015_census_tract_data.csv', sep = ',')

## Выведем информацию по DataFrame

### Размерность таблицы

In [16]:
usa.shape

(74001, 37)

In [17]:
usa.head(5)

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

### Первую и последную строчки

In [18]:
usa.iloc[[0, -1]]

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
74000,72153750602,Puerto Rico,Yauco,2741,1181,1560,99.3,0.7,0.0,0.0,...,0.0,0.0,14.9,26.8,496,72.8,19.6,7.7,0.0,20.1

### Каждую 1000-ю строку

In [22]:
usa[::20000]

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
20000,13227050100,Georgia,Pickens,5119,2645,2474,2.9,95.6,1.2,0.0,...,0.4,1.3,24.1,38.8,1814,75.7,9.5,14.8,0.0,12.3
40000,32003003635,Nevada,Clark,5941,2957,2984,37.5,30.7,11.9,2.9,...,1.4,0.7,1.4,26.7,3175,78.3,18.9,2.9,0.0,9.8
60000,46077958200,South Dakota,Kingsbury,2069,1027,1042,0.7,97.8,0.0,0.0,...,5.4,0.4,7.8,18.4,1060,73.6,11.1,15.0,0.3,2.4

### Простые манипуляции

#### Штаты где безработица выше 50%

In [65]:
usa[usa['Unemployment'] > 50].head(3)

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
2367,4013940700,Arizona,Maricopa,123,70,53,0.0,0.0,0.0,83.7,...,0.0,0.0,0.0,NaN,22,0.0,100.0,0.0,0.0,51.1
2373,4013980400,Arizona,Maricopa,10,8,2,0.0,60.0,20.0,20.0,...,100.0,0.0,0.0,NaN,2,100.0,0.0,0.0,0.0,66.7
7051,6037980004,California,Los Angeles,11,11,0,100.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,100.0

#### Штаты где безработица выше 50% и мужчин более 50%

#### Процент состава мужчин в населении штата

In [74]:
usa['%men'] = (usa['Men'] / (usa['Men'] + usa['Women']))*100

In [75]:
usa[(usa['Unemployment'] > 50) & (usa['%men'] > 50)].head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,%men
2367,4013940700,Arizona,Maricopa,123,70,53,0.0,0.0,0.0,83.7,...,0.0,0.0,NaN,22,0.0,100.0,0.0,0.0,51.1,56.910569
2373,4013980400,Arizona,Maricopa,10,8,2,0.0,60.0,20.0,20.0,...,0.0,0.0,NaN,2,100.0,0.0,0.0,0.0,66.7,80.000000
7051,6037980004,California,Los Angeles,11,11,0,100.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,100.0,100.000000
7059,6037980014,California,Los Angeles,70,70,0,0.0,100.0,0.0,0.0,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,100.0,100.000000
8598,6067005301,California,Sacramento,1064,562,502,36.8,27.4,28.0,0.0,...,6.0,7.3,30.6,157,76.4,23.6,0.0,0.0,60.5,52.819549

### Групируем по штатам где безрабоца выше 50 % с мужским населением выше 50%

In [76]:
usa[(usa['Unemployment']>50)&(usa['%men']>50)].groupby('State').head(5).sort_values('TotalPop',ascending=False)

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,%men
14885,12031001000,Florida,Duval,4421,2991,1430,5.4,25.6,66.3,0.3,...,6.9,0.0,27.0,191,79.1,8.4,12.6,0.0,55.1,67.654377
58138,42101989100,Pennsylvania,Philadelphia,3145,2559,586,17.1,13.7,67.0,0.2,...,0.0,0.0,NaN,5,100.0,0.0,0.0,0.0,77.3,81.367250
14003,11001006804,District of Columbia,District of Columbia,2949,2747,202,3.9,3.2,91.5,0.0,...,0.0,0.0,NaN,11,100.0,0.0,0.0,0.0,54.2,93.150220
34966,26163514100,Michigan,Wayne,2837,1420,1417,2.3,2.7,92.5,0.0,...,0.0,0.0,33.6,458,71.2,25.8,3.1,0.0,54.3,50.052873
73556,72089140201,Puerto Rico,Luquillo,2223,1162,1061,91.0,9.0,0.0,0.0,...,26.2,0.0,25.1,278,63.7,18.3,18.0,0.0,55.5,52.271705
22822,17087980000,Illinois,Johnson,1887,1861,26,12.8,32.7,53.8,0.0,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,100.0,98.622152
45832,36061024000,New York,New York,1688,1444,244,23.6,19.3,51.0,0.4,...,0.0,0.0,45.2,170,86.5,13.5,0.0,0.0,52.1,85.545024
44896,36047080800,New York,Kings,1256,683,573,13.8,6.7,64.9,0.0,...,0.0,0.0,40.4,57,86.0,7.0,7.0,0.0,62.7,54.378981
34926,26163505500,Michigan,Wayne,1250,699,551,0.6,7.5,90.2,1.6,...,0.0,4.1,30.4,238,79.4,16.0,4.6,0.0,54.8,55.920000
16635,12086980700,Florida,Miami-Dade,1141,751,390,35.5,16.5,47.5,0.0,...,20.3,5.3,45.0,130,98.5,1.5,0.0,0.0,68.8,65.819457
8598,6067005301,California,Sacramento,1064,562,502,36.8,27.4,28.0,0.0,...,6.0,7.3,30.6,157,76.4,23.6,0.0,0.0,60.5,52.819549
35048,26163531100,Michigan,Wayne,981,526,455,3.1,5.2,89.3,0.7,...,0.0,0.0,24.9,98,77.6,9.2,13.3,0.0,54.6,53.618756
2367,4013940700,Arizona,Maricopa,123,70,53,0.0,0.0,0.0,83.7,...,0.0,0.0,NaN,22,0.0,100.0,0.0,0.0,51.1,56.910569
7059,6037980014,California,Los Angeles,70,70,0,0.0,100.0,0.0,0.0,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,100.0,100.000000
33955,26099982200,Michigan,Macomb,34,21,13,17.6,58.8,23.5,0.0,...,0.0,0.0,NaN,7,100.0,0.0,0.0,0.0,66.7,61.764706
44168,36029940100,New York,Erie,18,11,7,0.0,0.0,0.0,100.0,...,0.0,33.3,NaN,3,100.0,0.0,0.0,0.0,57.1,61.111111
73853,72127980000,Puerto Rico,San Juan,15,8,7,100.0,0.0,0.0,0.0,...,0.0,0.0,NaN,7,100.0,0.0,0.0,0.0,53.3,53.333333
7051,6037980004,California,Los Angeles,11,11,0,100.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,100.0,100.000000
2373,4013980400,Arizona,Maricopa,10,8,2,0.0,60.0,20.0,20.0,...,0.0,0.0,NaN,2,100.0,0.0,0.0,0.0,66.7,80.000000